<div class="axie--data">
    <div class="axie--card-abilities">

        {% for i in 1..4 %}
            <figure class="axie--card">
                <img src="https://storage.googleapis.com/axie-cdn/game/cards/base/aquatic-back-08.png" alt="" class="img-fluid axie--card-image">
                <figcaption class="figure-caption axie--card-title">Shipwreck</figcaption>
                <figcaption class="figure-caption axie--card-value axie--card-value__atk">60</figcaption>
                <figcaption class="figure-caption axie--card-value axie--card-value__def">90</figcaption>
                <figcaption class="figure-caption axie--card-description">Apply Attack+ to this Axie if its shield breaks.</figcaption>
            </figure>
        {% endfor %}
    </div>
    <div class="axie--parts">
        <table class="table-responsive table-bordered">
            <thead>
            <tr>
                <th scope="col">Part</th>
                <th scope="col">D</th>
                <th scope="col">R1</th>
                <th scope="col">R2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Eyes</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Ears</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Back</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Mouth</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Horn</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            <tr>
                <th scope="row">Tail</th>
                {% for i in 1..3 %}
                    <td><span class="axie--class-icon axie--class-icon__aqua"></span>Confused</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>