<div class="axie--data">
    <div class="axie--card-abilities">
        <figure class="axie--card">
            <img src="https://storage.googleapis.com/axie-cdn/game/cards/base/aquatic-back-08.png" alt="" class="img-fluid">
            <figcaption class="figure-caption">Shipwreck - ATK: 60; DEF: 90; E: 1 <br /> Apply Attack+ to this Axie if its shield breaks.</figcaption>
        </figure>
        <figure class="axie--card">
            <img src="https://storage.googleapis.com/axie-cdn/game/cards/base/aquatic-back-08.png" alt="" class="img-fluid">
            <figcaption class="figure-caption">Shipwreck - ATK: 60; DEF: 90; E: 1 <br /> Apply Attack+ to this Axie if its shield breaks.</figcaption>
        </figure>
        <figure class="axie--card">
            <img src="https://storage.googleapis.com/axie-cdn/game/cards/base/aquatic-back-08.png" alt="" class="img-fluid">
            <figcaption class="figure-caption">Shipwreck - ATK: 60; DEF: 90; E: 1 <br /> Apply Attack+ to this Axie if its shield breaks.</figcaption>
        </figure>
        <figure class="axie--card">
            <img src="https://storage.googleapis.com/axie-cdn/game/cards/base/aquatic-back-08.png" alt="" class="img-fluid">
            <figcaption class="figure-caption">Shipwreck - ATK: 60; DEF: 90; E: 1 <br /> Apply Attack+ to this Axie if its shield breaks.</figcaption>
        </figure>
    </div>
    <div class="axie--parts">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Part</th>
                <th scope="col">D</th>
                <th scope="col">R1</th>
                <th scope="col">R2</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Eyes</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            <tr>
                <th scope="row">Ears</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            <tr>
                <th scope="row">Back</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            <tr>
                <th scope="row">Mouth</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            <tr>
                <th scope="row">Horn</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            <tr>
                <th scope="row">Tail</th>
                <td>Confused</td>
                <td>Confused</td>
                <td>Confused</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>