{% extends 'base.html.twig' %}

{% block title %}Hello RecentlySoldAxieController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">
            <div class="col col-12">

                <section class="Recently-Sold-Axies">
                    {% include'recently_sold_axie/_recently_sold_axie.twig' with {data:data['$recentlySold']} only %}
                </section>

            </div>
        </div>

    </div>
{% endblock %}
