$color-beast: #ffb812;
$color-plant: #6cc000;
$color-bug: #ff5341;
$color-mech: #c6bdd4;
$color-dusk: #129092;
$color-aquatic: #00b8ce;
$color-bird: #ff8bbd;
$color-reptile: #dc8be4;
$color-dawn: #beceff;